input {
  border: 2px solid #c4c4c4;
  border-radius: 4px;
  outline: none;
  height: 40px;
  font-size: 16px;
  padding-left: 16px;
  width: -webkit-fill-available;
}

input:focus {
  border: 2px solid #0798bb;
}
