.avatar-card-post {
  float: left;
  margin: 24px 24px 24px 16px;
}

.header-card-post {
  margin-top: 24px;
  float: left;
}

.imgpost-card-post {
  width: 620px;
  height: 620px;
  object-fit: cover;
}

.footer-card-post {
  padding: 16px 24px;
  overflow: auto;
  border-bottom: 1px solid #c4c4c4;
}

.btn-like-post {
  overflow: auto;
  float: left;
  cursor: pointer;
  margin-right: 16px;
}

.btn-comment-post {
  overflow: auto;
  float: left;
  cursor: pointer;
}
